.navContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 9%;
  height: 5.938rem;
}

.container {
  display: flex;
  flex-direction: row;
  list-style: none;
  text-decoration: none;
  justify-content: left;
  gap: 25px;
}

.navTitle {
  font-family: Montserrat;
  font-size: 1.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0290ff;
}

.navLinks {
  display: flex;
  flex-direction: row;

  list-style: none;
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
}

.navLinks > li {
 padding-left: 25px;
}

.navLink {
  list-style: none;
  text-decoration: none;
  width: 3.688rem;
  height: 1rem;
  margin: 1.125rem 2.563rem 0.688rem 0;
  font-family: Montserrat;
  font-size: 0.813rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: #121212;
  align-items: center;
}